{{each options as option i}}
<section class="option-container" data-value="{{option.optionId}}">
	<div class="option-card-box single">
		<a href="javascript:void(0);" data-xx-action="checkOption" data-option-id="{{option.optionId}}">
			<div class="image-wrapper">
				<img src="{{option.imageUrls | imageUrl:'@200w_1e'}}" alt="{{option.name}}" />
				<div class="title ellipsis">
					<span>{{option.name}}</span>
				</div>
			</div>
		</a>
		<div class="bottom">
			<span class="number">{{option.totalVotes||0}}</span>票
			<button class="btn btn-xx-theme btn-vote" {{if option.casted}}disabled{{/if}} data-value="{{option.optionId}}" data-xx-action="singleVote">
			<span class="inside-loading">
				<span class="iconfont icon-loading rolling"></span>
			</span>
			<span class="inside-text">
				<span class="iconfont icon-favorite-fill"></span>
				{{if option.casted}}已赞{{else}}点赞{{/if}}
			</span>
			</button>
		</div>
	</div>
</section>
{{/each}}