{{each options as option i}}
<tr class="option-ranking" data-xx-action="checkOption" data-option-id="{{option.optionId}}">
	<td class="rank width-30">
		{{if skip+i+1 <= 3}}
		<img src="./images/vote/medal-{{i+1}}.png">
		{{else}}
		<span class="text-gray">{{skip+i+1}}</span>
		{{/if}}
	</td>
	<td class="width-50">
		<img class="avatar" src="{{option.user&&option.user.portraitUrl | imageUrl:'@40w_40h_1e_1c'}}" onerror="this.src='./images/default/avatar.jpg'">
	</td>
	<td class="name">
		<div class="ellipsis width-120">
			{{option.user&&option.user.nickname||option.user.phoneNumber||'匿名用户'}}
		</div>
	</td>
	<td class="total width-80">
		<span class="text-red"><i class="iconfont icon-favorite-fill"></i>&nbsp;{{option.totalVotes||0}}</span>
	</td>
	<td class="arrow">
		<span class="iconfont icon-chevron-right"></span>
	</td>
</tr>
{{/each}}