{{each options as option i}}
<section class="option-container" data-value="{{option.id}}">
	<div class="option-card-box multiple">
		<a href="javascript:void(0);" data-xx-action="checkOption" data-option-id="{{option.id}}">
			<div class="image-wrapper">
				<img src="{{option.imgUrl | imageUrl:'@200w_1e'}}"  alt="{{option.name}}" />
				<div class="title ellipsis">
					<span>{{option.name}}</span>
				</div>
			</div>
			<div class="bottom {{vote.hideVotes?'hide':''}}">
				<span class="number">{{option.totalVotes||0}}</span>票
			</div>
		</a>
		<label for="Option_{{option.id}}">
			<input id="Option_{{option.id}}" class="option-input radio" type="checkbox" name="vote_option" value="{{option.id}}" {{if option.checked}}checked{{/if}} data-xx-change-action="modifyOptions"/>
		</label>
	</div>
</section>
{{/each}}