{{if json.backMusic}}
<audio id="Audio" src="" preload="auto" loop></audio>
<div class="audio-box">
	<div class="audio-flowers">
		<span class="iconfont icon-music flower-01"></span>
		<span class="iconfont icon-music flower-02"></span>
		<span class="iconfont icon-music flower-03"></span>
		<span class="iconfont icon-music flower-04"></span>
		<span class="iconfont icon-music flower-05"></span>
		<span class="iconfont icon-music flower-06"></span>
		<span class="iconfont icon-music flower-07"></span>
		<span class="iconfont icon-music flower-08"></span>
		<span class="iconfont icon-music flower-09"></span>
		<span class="iconfont icon-music flower-10"></span>
	</div>
	<div class="audio-controller">
		<span class="iconfont icon-play-arrow controller play" data-xx-action="play"></span>
		<span class="iconfont icon-pause controller pause" data-xx-action="pause"></span>
		<span class="iconfont icon-loading controller load rolling"></span>
	</div>

</div>
{{/if}}