<section class="user-feedback-container">
	<div class="more-container">
		<button class="btn btn-primary btn-more" data-xx-action="loadMore">
			<span class="inside-loading">
				<span class="iconfont icon-loading rolling"></span>
			</span>
			<span class="inside-text">加载更多</span>
		</button>
	</div>
	<div id="Feedbacks">
		{{include './list-inner'}}
	</div>
</section>
<footer id="footer">
	<button class="btn btn-large btn-xx-theme" data-xx-action="reply">
		<span class="iconfont icon-edit"></span>发表意见
	</button>
</footer>
