<section class="mxz-main-container">
        <div class="header">
           <img src="./images/mengxiaozhu/header.png" />

        </div>

       <div class="button-container">
           <a href="{{mxzInfo}}">
               <img src="./images/mengxiaozhu/button.png" />
               <span class="inside-loading">
						<i class="fa fa-spinner rolling font-18"></i>
               </span>
           </a>
           <!--<a href="./../../posters/third-part-app/xiaozhuyun.html?xiaozhuyun={{mxzInfo}}">-->
               <!--<img src="./images/mengxiaozhu/button.png" />-->
               <!--<span class="inside-loading">-->
						<!--<i class="fa fa-spinner rolling font-18"></i>-->
               <!--</span>-->
           <!--</a>-->
       </div>


       <div class="footer-container">
                <div class="img-container">

        <img class="img-foot" src="./images/mengxiaozhu/footer.png">
                </div>
        </div>


</section>
