.oneline {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}

.mul-line {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        &.twoline {
                -webkit-line-clamp: 2;
        }
        &.threeline {
                -webkit-line-clamp: 2;
        }
        &.fourline {
                -webkit-line-clamp: 2;
        }
}