.font-12 {
	font-size: 12px;
}
.font-14 {
	font-size: 14px;
}
.font-16 {
	font-size: 16px;
}
.font-18 {
	font-size: 18px !important;
}
.font-20 {
	font-size: 20px !important;
}
.font-22 {
	font-size: 22px !important;
}
.font-24 {
	font-size: 24px !important;
}
.font-30 {
	font-size: 30px !important;
}
.font-36 {
	font-size: 36px !important;
}
.width-20 {
	width: 20px;
}
.width-30 {
	width: 30px;
}
.width-40 {
	width: 40px;
}
.width-50 {
	width: 50px;
}
.width-60 {
	width: 60px;
}
.width-70 {
	width: 70px;
}
.width-80 {
	width: 80px;
}
.width-90 {
	width: 90px;
}
.width-100 {
	width: 100px;
}
.width-110 {
	width: 110px;
}
.width-120 {
	width: 120px;
}
.width-130 {
	width: 130px;
}
.width-140 {
	width: 140px;
}
.width-150 {
	width: 150px;
}
.width-160 {
	width: 160px;
}
.width-170 {
	width: 170px;
}
.min-height-60 {
	min-height: 60px;
}
.min-height-170 {
	min-height: 170px;
}
.min-height-200 {
	min-height: 200px;
}

.xx-blur {
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(10px); /* Chrome, Opera */
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

/** * 图片背景
* 由于经常忘掉顺序，所以都赖一遍吧 */
.back-image, .image-back {
	background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.back-fixed {
	background-attachment: fixed;
}

.back, .front {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// 清除浮动
.clearfix {
	overflow: hidden;

	&:before, &:after {
		content: " ";
		display: table;
	}
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.hide {
	display: none !important;
}
.star {
	color: red;
}
.blur {
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(20px); /* Chrome, Opera */
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.image-shadow {
	background-image: url(../images/shadow.png);
	background-repeat: no-repeat;
	background-repeat-y: repeat;
	background-position: 0 0;
	background-size: 100% 100%;
}
//超出内容区域省略号
.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


/** * 列表页暂无数据 */
.empty-tips {
	text-align: center;
	display: block;
	line-height: 50px;
	color: $color-c2;
	font-size: 14px;
	text-shadow: 0px 0px 2px #fff;
}
.empty-box {
	text-align: center;
	color: $color-c2;
	line-height: 25px;
	.wrapper {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		>img {
			width: 40%;
			margin-top: -50%;
		}
	}
	
}

.center {
	text-align: center;
}
.close {
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color: #fff;
	background-color: #F42C2C;
	text-align: center;
	line-height: 30px;
	.pk {
		transform: scale(0.4);
	}

	&:hover {
		background-color: #ff0000;
	}
}

.unselect {
	user-select: none;
}
.user-select {
	user-select: initial;
}
.fixed {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
}
// 在打开弹出层后为body加上此样式以控制滚动条不可滚动
.modal-open {
	overflow: hidden;
}