.text-theme {
	color: $theme-color;
}
.text-white {
        color: #fff;
}

.text-green {
        color: $success-color;
}

.text-blue {
        color: $primary-color;
}

.text-red,.text-dander {
        color: $red-color;
}

.text-yellow {
        color: $yellow-color;
}

.text-orange {
        color: $orange-color;
}

.text-gray {
        color: $gray-title-color;
}

.text-purple {
        color: $purple-color;
}
