/**
 * 系统统一属性值变量定义
 */

$wechat-header-height: 50px;
$theme-color: #2196f3;
$body-background-color: #f3f3f6;
// 默认边框颜色
$default-border-color: #e5e5e5;
// 默认圆角像素
$default-border-radius: 3px;
$default-title-color: #4a4a4a;
$gray-title-color: #b2b2b2;
$success-color: #67cd5f;
$deep-success-color: #20b35d;
$red-color: #fc716c;
$deep-red-color: #fc4e49;
$primary-color: #2196f3;
$info-color: #1c57ff;
$warning-color: #d9c26c;
$yellow-color: #ffc107;
$blue-color: #2ea8e6;
$deep-blue-color: #008eff;
$orange-color: #fc864b;
$purple-color: #7a52cc;
$font-color: #444;
$deep-font-color: #111;
$light-font-color: #888;

/* ============= 按钮样式 ============= */

//default btn
$default-btn-background-color: #f2f2f2;
$default-btn-background-color-deep: #eee;
$default-btn-color: #000;
// success btn
$success-btn-background-color: #f2f2f2;
$success-btn-background-color-deep: #eee;
$success-btn-color: #000;
//theme btn
$theme-btn-background-color: #2196f3;
$theme-btn-background-color-deep: #1363f3;
$theme-btn-color: #fff;
$theme-btn-border-color: #2196f3;
//green btn
$green-btn-background-color: #67cd5f;
$green-btn-background-color-deep: #30b554;
$green-btn-color: #fff;
$green-btn-border-color: #67cd5f;
//blue btn
$blue-btn-background-color: #2ea8e6;
$blue-btn-background-color-deep: #008eff;
$blue-btn-color: #fff;
$blue-btn-border-color: #2ea8e6;
//skyblue btn
$skyblue-btn-background-color: #62c6f5;
$skyblue-btn-background-color-deep: #54b7e5;
$skyblue-btn-color: #fff;
$skyblue-btn-border-color: #1da9d3;
//gray btn
$gray-btn-background-color: #b3b3b3;
$gray-btn-background-color-deep: #a6a6a6;
$gray-btn-color: #fff;
$gray-btn-border-color: #b3b3b3;
//white btn
$white-btn-background-color: #fff;
$white-btn-background-color-deep: #ddd;
$white-btn-color: #2196f3;
$white-btn-border-color: #1da9d3;
//light green btn
$light-green-btn-background-color: #0ed8a1;
$light-green-btn-background-color-deep: #00C08C;
$light-green-btn-color: #fff;
$light-green-btn-border-color: #00C08C;
//red btn
$red-btn-background-color: #fc716c;
$red-btn-background-color-deep: #ff6e68;
$red-btn-color: #fff;
$red-btn-border-color: #fc716c;



$color-c1: #4a4a4a;
$color-c2: #b2b2b2;
$color-c3: #fff;
$color-c4: #fc716c;
$color-c5: #2196f3;
$color-c6: #818181;
