.user-feedback-container {
	#Feedbacks {
		padding: 15px 15px 0;
		margin-bottom: 55px;
	}

	.chat-box {
		padding-bottom: 20px;

		.date {
			color: $color-c2;
			text-align: center;
			font-size: 12px;
			margin-bottom: 15px;
		}
		.avatar {
			width: 30px;
			height: 30px;
		}
		.content-box {
			position: relative;
			background: #fff;
			padding: 10px 5px;
			border: 1px solid $default-border-color;
			border-radius: $default-border-radius;
			max-width: 70%;
		}
		.arrow {
			position: absolute;

			&.arrow-out {
				display: block;
				width: 0;
				height: 0;
				border-width: 8px;
				border-style: dashed;
				border-color: transparent;
				top: 9px;
			}
			&.arrow-in {
				display: block;
				width: 0;
				height: 0;
				border-width: 8px;
				border-style: dashed;
				border-color: transparent;
				top: 9px;
			}
		}
		&.left {
			.avatar, .content-box {
				float: left;
			}
			.content-box {
				margin-left: 15px;
			}
			.arrow {
				&.arrow-out {
					left: -8px;
					border-left-width: 0;
					border-right-color: $default-border-color;
					border-right-style: solid;
				}
				&.arrow-in {
					left: -7px;
					border-left-width: 0;
					border-right-color: #fff;
					border-right-style: solid;
				}
			}
		}
		&.right {
			.avatar, .content-box {
				float: right;
			}
			.content-box {
				margin-right: 15px;
			}
			.arrow {
				&.arrow-out {
					right: -8px;
					border-right-width: 0;
					border-left-color: $default-border-color;
					border-left-style: solid;
				}
				&.arrow-in {
					right: -7px;
					border-right-width: 0;
					border-left-color: #fff;
					border-left-style: solid;
				}
			}
		}
	}
}