<div class="xx-shadow-box unselect" style="z-index: 1200;">
	<div class="inner-box">
		<!-- global/header.scss -->
		<header class="xx-inner-header">
			<div class="header-wrapper">
				<h2>{{title}}</h2>
				<div class="header-nav right">
					<button class="btn btn-xx-red btn-xx-circle height-30 btn-close" data-xx-action="{{closeAction}}">
						<span class="fa fa-times font-16"></span>
					</button>
				</div>
			</div>
		</header>
		<div class="xx-inner-body user-select" id="InnerBody">

		</div>
	</div>
</div>