<div class="search-box">
	<button class="back"></button>
	<section class="front">
		<div class="search">
			<input type="text" class="input-search" value="{{value}}" placeholder="{{placeholder}}" />
			<button class="btn-search">
				<span class="inside-loading">
					<span class="iconfont icon-loading rolling"></span>
				</span>
				<span class="inside-text">
					<span class="iconfont icon-search"></span>
				</span>
			</button>
		</div>
		<div id="SearchResults">
			
		</div>
	</section>
</div>
