<!-- xx-form-box: global/form.scss -->
<form>
	<div class="xx-form-box">
		<div class="box-body">
			<div class="box-row">
				<textarea id="Content" class="textarea-wrapper min-height-170" name="{{name}}" value="" placeholder="{{placeholder}}"></textarea>
			</div>
		</div>
	</div>
	<div class="xx-form-box" style="border: none;">
		<button class="btn btn-xx-green btn-xx-large {{btn_class}}" data-value="{{btn_value}}" data-xx-action="{{action}}">
			<span class="inside-loading">
				<i class="iconfont icon-loading rolling"></i>
			</span>
			<span class="inside-text font-16">
				<span class="iconfont icon-done"></span>
			</span>
		</button>
	</div>
</form>