<div class="shadow-box">
	<div class="inner-box">
		<!-- pub-box: global/pub-box.scss -->
		<div class="pub-box comment-box">
			<form>
				<div class="box-header">
					<span>{{title}}</span>
					<span class="close-modal iconfont icon-close" data-xx-action="closeModal"></span>
				</div>
				<div class="box-body">
					<textarea id="MsgText" name="{{name}}" placeholder="{{placeholder}}" rows="6"></textarea>
				</div>
				<div class="box-footer">
					<button class="btn btn-xx-green" data-xx-action="{{action}}">
						<span class="inside-loading">
							<i class="iconfont icon-loading rolling"></i>
						</span>
						<span class="inside-text">
							<span class="iconfont icon-done font-18"></span>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>