.result-box {
        padding: 15px;
        margin-bottom: 60px;

        .ui-form-group {
                .ui-form-header {
                        padding-top: 10px;

                        .ui-form-buttons {
                                top: -10px;
                                right: -5px;
                                background-color: #ededed;
                                border-radius: 0 0 0 2px;
                                padding: 0 3px;

                                > span {
                                        line-height: 15px;
                                        color: $theme-color;
                                }
                        }
                }
        }
}