.vote-list-container {
	margin-bottom: 55px;
	.votes {
		padding: 15px 15px 0;
	}
	.vote-box {
		margin-bottom: 15px;

		.box-header {
			padding: 5px 0 10px;

			.avatar {
				float: left;
				height: 40px;
				width: 40px;
			}
			.msg {
				margin-left: 50px;

				.title {
					font-size: 16px;
					line-height: 25px;
				}
				.name {
					font-size: 12px;
					line-height: 15px;
				}
			}
		}
		.box-body {
			position: relative;
			border-radius: $default-border-radius;
			overflow: hidden;
			>img {
				display: block;
				width: 100%;
			}
			.bottom {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 10px;
				background-color: rgba(255, 255, 255, .8);
				color: $red-color;
				text-align: center;
				.pk {
					transform: scale(0.6);
				}
			}
			&.ended {
				color: $light-font-color;
			}
		}
		.box-footer {
			.options {
				padding: 15px 0 5px;
			}
			.option {
				float: left;
				width: 33.333%;
				text-align: center;

				&.border-right {
					border-right: 1px solid $default-border-color;
				}
			}
		}
	}
}